@model food.ViewModels.HomeIndexViewModel


<!DOCTYPE html>
<html>
<head>
<h1>@Model.CurrentMessage</h1>
</head>
<body>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Id</td>
                <td>@restaurant.Name</td>
            </tr>
        }
    </table>

</body>
</html>